@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* Importing Roboto Mono Font style from google fonts */

body{
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem 2rem 4rem;
  font-size: 1.3rem;
}

#nav-left {
  font-size: 2.25rem;
}

#nav-right {
  font-size: 1.25rem;
  display: flex;
  gap:1.5rem;
}

.nav-links {
  cursor: pointer;
}

.nav-links a {
  all:unset;
}

main {
  font-size: 1.3rem;
}

.menuItems {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 450;
  
}

.hidden {
  display: none;
}

main {
  margin: 1rem 11rem 0 11rem;
  height: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.text-yellow {
  color: rgb(250 204 21)
}

.edu-card {
  padding: 10px;
  margin: 15px 0 15px;
  border: white solid 2px;
  border-radius: 10px;
}

.info {
  width: 50%;
}

.edu-heading {
  font-size: 1.6rem;
  font-weight: 450;
}

.Skills {
  height: 35rem;
  overflow-y: scroll;
}