@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* Importing Roboto Mono Font style from google fonts */

.text-yellow {
  color: rgb(250 204 21)
}

body{
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 4rem 2rem 4rem;
  font-size: 1.3rem;

}

#nav-left {
  font-size: 2.25rem;
}

#nav-right {
  font-size: 1.25rem;
  display: flex;
  gap:1.5rem;
}

.nav-links {
  cursor: pointer;
}

.nav-links a {
  all:unset;
}

main {
  display: flex;
  margin: 6rem 11rem 0 11rem;
  align-items: center;
  justify-content: space-between;
}

#info {
  width: 45%;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

#info-dev {
  font-size: 1.8rem;
}

.name {
  font-size: 3.5rem;
  font-weight: bold;
}

#profile-pic {
  height: 22rem;
  width: 22rem;
  background-color: #817c7c;
  border-radius: 100%;
}
