@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* Importing Roboto Mono Font style from google fonts */

body{
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  font-size: larger;
}

#nav-right {
  display: flex;
  gap:1rem;
}

.nav-links {
  cursor: pointer;
}