html, body{
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d86d6d;
  cursor: pointer;
}

.nav-list-one,
.nav-list-two {
  display: flex;
  gap: 10px;
  list-style: none;
}