@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* Importing Roboto Mono Font style from google fonts */

body{
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem 2rem 4rem;
  font-size: 1.3rem;
}

#nav-left {
  font-size: 2.25rem;
}

#nav-right {
  font-size: 1.25rem;
  display: flex;
  gap:1.5rem;
}

.nav-links {
  cursor: pointer;
}

.nav-links a {
  all:unset;
}

main {
  font-size: 1.3rem;
  margin: 5rem 10rem 0 10rem;
}

.center {
  text-align: center;
}

.mt {
  margin-top: 2rem;
}
.heading {
  font-size: 1.6rem;
  font-weight: 450;
  color: rgb(250 204 21);
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.card {
  padding: 10px;
  margin: 15px 0 15px;
  border: white solid 2px;
  border-radius: 10px;
}

.video-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu-btn {
  display: none;
}

@media (max-width: 746px){
  #menu-btn {
    display: block;
  }

  #nav-right {
    display: none;
    position: absolute;
    left: 69%;
    top:10%;
    background-color: #333;
    padding: 1rem;
    flex-direction: column;
    width: 150px;
    border-radius: 5px;
  }
  
  #nav-right.show{
    display: flex;
  }

  .nav-links {
    padding: 0.5rem 0;
  }

  main {
    font-size: 0.8rem;
    margin: 2rem 4rem 0 4rem;
  }
  .video-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  video {
    width: 100vw;
  }
}